<div class="container py-5">
    <div class="form px-3 py-5">
      <h2 class="text-center mb-5">Add new Quote</h2>
      <form action="">
        <div class="form-group my-3">
          <label for="author">Author</label>
          <input type="text" id="author" name="author" [(ngModel)]="quote.author"
            class="form-control form-control-lg shadow-none">
        </div>
        <div class="form-group my-3">
          <label for="submited_by">submited By:</label>
          <input type="text" id="author" name="submited_by" [(ngModel)]="quote.submited_by"
            class="form-control form-control-lg shadow-none">
        </div>
        <div class="form-group my-3">
          <label for="quote">Quote</label>
          <textarea type="text" id="quote" name="quote" rows="5" [(ngModel)]="quote.quote"
            class="form-control form-control-lg shadow-none"></textarea>
        </div>
        <div class="form-group-my-3">
          <button class="btn btn-primary shadow-none px-5" (click)="addQuote()">Add</button>
        </div>
      </form>
    </div>
  </div>
