<!-- <app-navbar></app-navbar> -->
<input type="hidden" #selection>

<div class="container">
  <div class="row my-4 position-relative">

    <div class="col-md-4 px-1 px-md-2">
      <h2 class="text-center">Quotes</h2>
      <div class="quotes">

        <div class="quote my-4 best-quot" *ngFor="let quote of quotes" (click)="selectQuote(quote)"
          [ngClass]="{'active': selectedQuote === quote}">
          <div class="badge">
            <span class="badge-text">{{quote.id}}</span>
          </div>
          <div class="quote-description">
            <!-- <a routerLink="quotes/{{quote.id}}"> -->
            <p> {{quote.quote}} <span class="m-o p-0 quote-author"> By - {{  quote.author}} </span> </p>
            <!-- </a> -->
          </div>
          <div class="d-flex justify-content-between">
            <p class="px-1 m-0 ">Upvotes: {{quote.upvotes}}</p>
            <p class="p-0 m-0">Downvotes: {{quote.downvotes}}</p>
          </div>
          <div class="quote-author">
            <p class="my-2 p-0">submited by: {{quote.submited_by}}</p>
          </div>
          
          <div class="tie">
            Best Quote
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-8 px-md-2">
      <div class=" pt-5" style="position: sticky; top: 80px;">

        <!-- <router-outlet></router-outlet> -->

        <h2 class="text-center mb-4"> Quote Detail</h2>

        <div class="selected-quote" *ngIf="selectedQuote!==undefined">
          <div class="selected-quote-description">
            <p> {{selectedQuote.quote}} <span class="m-o p-0 selected-quote-author"> By - {{ selectedQuote.author}} </span> </p>
          </div>
         
          <div class="selected-quote-author">
            <p class="m-0 p-0">submitted by:{{selectedQuote.submited_by}}</p>
            <p class="m-0 p-0">
              <small>Created {{selectedQuote.created | date }}</small>
            </p>
          </div>
          <div class="selected-quote-votes mt-3 d-flex align-items-center">
            <button class="btn btn-primary shadow-none me-4" (click)="upvoteQuote(selectedQuote.id)">
              UpVote: {{selectedQuote.upvotes}}
            </button>
            <button class="btn btn-secondary shadow-none me-4" (click)="downVoteQuote(selectedQuote.id)">
              DownVote: {{selectedQuote.downvotes}}
            </button>
            <div class="ms-auto">
              <small class="text-muted">Created: {{selectedQuote.created | timesince }} Days ago</small>
              <button class="btn btn-sm btn-danger ms-4 shadow-none"
                (click)="deleteQuote(selectedQuote.id)">Delete</button>
            </div>
          </div>
        </div>

        <div class="selected-quote text-center py-5" *ngIf="!selectedQuote">
          <div class="selected-quote-description">
            <h1> _<br>Select a quote to see <br> more details<br>_ </h1>
          </div>
        </div>

      </div>
    </div>
</div>

</div>

